<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="~/assets/images/favicon2.png" sizes="32x32" type="image/png">
    <title>@ViewData["Title"] - حیدریه نجف اشرف -طهران</title>

    <link rel="stylesheet" href="~/assets/css/icons.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/fancybox.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery.circliful.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/rtl.css">
    <link rel="stylesheet" href="~/assets/css/shabnam.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <!-- Color Scheme -->
    <link rel="stylesheet" href="~/assets/css/colors/color3.css" /><!-- Color -->
</head>
<body class="clearfix">
    <main>
        <div class="pageloader-wrap clearfix">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div><!-- Pageloader Wrap -->
        <partial name="Header" />

        @RenderBody()

        <partial name="Footer" />

    </main>
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/downCount.js"></script>
        <script src="~/assets/js/fancybox.min.js"></script>
        <script src="~/assets/js/isotope.pkgd.min.js"></script>
        <script src="~/assets/js/perfectscrollbar.min.js"></script>
        <script src="~/assets/js/owl.carousel.min.js"></script>
        <script src="~/assets/js/jquery.circliful.min.js"></script>
        <script src="~/assets/js/custom-scripts.js"></script>
</body>
</html>
