<header class="style2">
    <div class="container">
        <div class="logo"><a href="index.html" title="لوگو"><img src="~/assets/images/logo.png" alt="لوگو"></a></div>
        <nav>
            <div>
                <a class="srch-btn" href="index.html#" title=""><i class="fa fa-search"></i></a>
                <a class="thm-btn brd-rd5" href="contact.html" title="">تماس با ما</a>
                <ul>
                    <li class="menu-item-has-children">
                        <a href="index.html#" title="">صفحه اصلی</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="index.html#" title="">بلاگ</a>
                        <ul>
                            <li><a href="blog.html" title="">صفحه اصلی</a></li>
                            <li><a href="blog-detail.html" title="">صفحه مطلب</a></li>
                        </ul>
                    </li>
                    <li><a href="event.html" title="">رویداد ها</a></li>
                    <li><a href="crowd-funding.html" title="">کمک مالی </a></li>
                    <li class="menu-item-has-children">
                        <a href="index.html#" title="">صفحات</a>
                        <ul>
                            <li><a href="team.html" title="">صفحه تیم 1</a></li>
                            <li><a href="team2.html" title="">صفحه تیم 2</a></li>
                            <li><a href="portfolio.html" title="">نمونه کار ها</a></li>
                            <li><a href="services.html" title="">خدمات ما</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html" title="">درباره ما</a></li>
                    <li><a href="contact.html" title="">تماس با ما</a></li>
                    <li class="menu-item-has-children">
                        <a href="index.html#" title="">منو</a>
                        <ul>
                            <li><a href="index.html" title="">منو اصلی 1</a></li>
                            <li><a href="index2.html" title="">منوی اصلی 2</a></li>
                            <li class="menu-item-has-children">
                                <a href="index.html#" title="">منوی اصلی 3</a>
                                <ul>
                                    <li><a href="index.html" title="">زیرمنوی 1</a></li>
                                    <li><a href="index2.html" title="">زیر منوی 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header><!-- Header -->
<div class="rspn-hdr">
    <div class="rspn-mdbr">
        <ul class="rspn-scil">
            <li><a href="index.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="index.html#" title="فیسبوک" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="index.html#" title="لینکدین" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="index.html#" title="گوگل پلاس" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>
        <form class="rspn-srch">
            <input type="text" placeholder="‌‌ کلید واژه را وارد کنید ... " />
            <button type="submit"> <i class="fa fa-search"> </i> </button>
        </form>
    </div>

</div><!-- Responsive Header -->
<div class="header-search">
    <span class="srch-cls-btn brd-rd5"><i class="fa fa-times"></i></span>
    <form>
        <input type="text" placeholder="جستجو کنید ...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div><!-- Header Search -->