<div class="gap opc9">
    <div class="container">
        <div class="evnt-pry-wrap">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-lg-8">
                    <div class="gap thm-layer opc9">


                        <div class="sec-title2 text-right">
                            <div class="sec-title-inner2 text-right">
                                <h3><span>عضویت در خبرنامه</span></h3>
                            </div>
                            <p>جهت دریافت آخرین اخبار، رویداد ها و مراسمات فرم زیر را تکمیل نمایید.</p>
                        </div>

                        <div class="nwsltr-wrp text-right">
                            
                                <div class="contact-form text-center">
                                    <form>
                                        <input type="text" placeholder=" نام و نام خانوادگی خود را وارد کنید">
                                        <input type="tel" placeholder="شماره تلفن همراه خود را وارد کنید">
                                        <br />

                                        <button class="thm-btn brd-rd40" type="submit">عضویت در خبرنامه</button>
                                    </form>

                                </div>
                                
                            
                        </div>
                    </div>
                    </div>

                <div class="col-md-4 col-sm-12 col-lg-4">
                    <div class="sec-title">
                        <div class="sec-title-inner">
                            <h3>اوقات <span>شرعی</span></h3>
                        </div>
                    </div>
                    <ul class="prayer-times">
                        <li class="pry-tim-hed"><span>نماز</span><span>شروع</span><span>پایان</span></li>
                        <li><span class="thm-clr">صبح</span><span>03:58 قبل از ظهر</span><span>04:45 قبل از ظهر</span></li>
                        <li><span class="thm-clr">طلوع خورشید</span><span>05:31 قبل از ظهر</span><span>05:31 قبل از ظهر</span></li>
                        <li><span class="thm-clr">ظهر</span><span>12:47 بعد از ظهر</span><span>12:47 بعد از ظهر</span></li>
                        <li><span class="thm-clr">غروب آفتاب</span><span>05:53 بعد از ظهر</span><span>05:50 بعد از ظهر</span></li>
                        <li><span class="thm-clr">مغرب</span><span>08:04 بعد از ظهر</span><span>08:04 بعد از ظهر</span></li>
                        <li><span class="thm-clr">نیمه شب</span><span>09:37 بعد از ظهر</span><span>09:30 بعد از ظهر</span></li>
                        <li><span class="thm-clr">فضیلت نافله شب</span><span>01:15 بعد از ظهر</span><span>01:15 بعد از ظهر</span></li>
                    </ul>
                </div>
            </div>
        </div><!-- Events & Prayer Wrap -->
    </div>
</div>


