        <div class="gap">
            <div class="container">
                <div class="hstry-wrap">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="hstry-img text-center">
                                <img src="~/assets/images/resources/hstry-img.png" alt="hstry-img.png">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="hstry-desc">
                                <span>چند کلمه ای درباره ما</span>
                                <h2>تاریخچه حیدریة النجف الاشرف</h2>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                <strong>حیدریة النجف الاشرف <span>اولین</span> حیدریة النجف الاشرف در <span>کشور</span> است.</strong>
                                <ul>
                                    <li>تحقیقات اسلامی</li>
                                    <li>کمک به اقشار حیدریة النجف الاشرف</li>
                                    <li>هدایت رویداد های کمک</li>
                                    <li>تحصیل کودکان</li>
                                    <li>کمک به گرسنگان و نیازمندان</li>
                                    <li>اقامه نماز و مراسم اسلامی</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- History Wrap -->
            </div>
        </div>
