
    <div class="gap three-block-section">
        <div class="sec-title2 text-center">
            <div class="sec-title-inner2">
                <span>هدیه ای برای تو</span>
                <h3>کاری که میکنیم</h3>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
        <div class="fea-car text-center">
            <div class="row mrg">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="fea-itm" style="background-image: url(assets/images/resources/fea-img1.jpg);">
                        <i class="flaticon-reading-quran"></i>
                        <div class="fea-info2">
                            <h4>آموزش قرائت و دعا</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <a href="index.html#" title="">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="fea-itm" style="background-image: url(assets/images/resources/fea-img2.jpg);">
                        <i class="flaticon-museum"></i>
                        <div class="fea-info2">
                            <h4>آکادمی و آموزش</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <a href="index.html#" title="">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="fea-itm" style="background-image: url(assets/images/resources/fea-img3.jpg);">
                        <i class="flaticon-heart-1"></i>
                        <div class="fea-info2">
                            <h4>مشورت و کمک</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <a href="index.html#" title="">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
